/* .App {
  text-align: center;
  place-content: center;
} */

body{
  font-family: 'Ubuntu', sans-serif;
  /* background-color: #FFF9E9; */
  /* background-image: linear-gradient(#FFF9E9, #FEEBDA); */
  background-color: #FAFAFA;
  /* background-color: #FDEFD7; */
}

.black-700{
  color: #403a30;
}

.gray {
  color: #979698;
}

.fw-600 {
  font-weight: 600;
}
.title{
  font-size: 2.8rem;
  line-height: 1.167;
}

.heading-1{
  font-size: 2rem;
  line-height: 1;
}

.heading-2{
  font-size: 1.5rem;

}

.body-1{
  font-size: 1.3rem;
}

.body-2{
  font-size: 1rem;
  line-height: 1.3;
}

.caption{
  font-size: 13px;
}

.App-link {
  color: #61dafb;
}

.imageBox {
  /* position: relative; */
  /* width: 100vw; */
  min-height: 62vh;
  max-height: 65vh;
  background-image: url(./topic-feminism-gettyimages-53375119-feature.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: initial;
}

.img{
    width: auto;
    height: auto;
    position: relative;
    max-width: 100vw;
    max-height: 65vh;
}

.boxcss {
  width: calc(100% - 55px);
  height: 100%;
  margin: 0 auto;
  max-width: 2700px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.box-920{
  width: 920px;
  height: 100%;
  margin: 0 auto;
}

.alignC {
  text-align: center;
  place-content: center;
}
@media (max-width: 959.95px) {
.box31 {
    top: auto;
    transform: none;
    padding-bottom: 80px;
}
}

.box31 {
    top: 50%;
    width: 100%;
    height: calc(100% - 80px);
    margin: 0 auto;
    position: relative;
    max-width: 1920px;
    transform: translateY(-50%);
    max-height: 900px;
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 40px;
}


.textbox {
  width: 95%;
  margin: 0 auto;
  /* text-align: center; */
}

/* .boxcss p {
  margin: 0 auto;
  max-width: 920px;
  text-align: center;
} */

.mrg0-B {
  margin-bottom: 0px;
}
.mrg0-T {
  margin-top: 0px;
}
.mrg16-TB {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mrg16-LR {
  margin-left: 16px;
  margin-right: 16px;
}

.mrg32-T {
  margin-top: 32px;
}


.mrg72-T {
  margin-top: 72px;
}

.pd16-LR {
  padding-left: 16px;
  padding-right: 16px;
}

.pd16-T {
  padding-top: 16px;
}

.pd16-B {
padding-bottom: 16px;
}

.pd16-TB {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pd32-T {
  padding-top: 32px;
}

.pd32-TB {
  padding-top: 32px;
  padding-bottom: 32px;
}

.pd48-TB {
  padding-top: 48px;
  padding-bottom: 48px;
}

.pd48-T {
  padding-top: 48px;
}

.pd64-T {
  padding-top: 64px;
}

.pd48-B {
  padding-bottom: 48px;
}
.mrg0-T {
  margin-top: 0;
}

.mrg0-TB {
  margin-top: 0;
  margin-bottom: 0;
}

.pd32-B{
  padding-bottom: 32px;
}

ul {
  list-style: none;
}

.title-h2 {
  color: #2d2d2d;
  max-width: 11.33333em;
  margin: 0.2em 0 0.4em;
}

.title-h3 {
  font-size: 2.25em;
  line-height: 1.33333em;
  letter-spacing: -.03333em;
}

.title-h2, .title-h3 {
  /* font-family: Libre Baskerville,serif; */
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

.title-h2 {
  font-size: 3em;
  line-height: 1.2em;
  letter-spacing: -.02em;
}

.hashtags__list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 81em;
  flex-wrap: wrap;
}

li {
  width: 24em;
  margin-right: 3em;
  margin-bottom: 3em;
}

li a {
  color: #D04B4B;
  text-decoration: none;
}

.red {
  color: #D04B4B;
}

a{
  text-decoration: none;
  cursor: pointer;
}